@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

.theme-dark {
  /* --background: #0d1b2a; */
  --background: #081018;
  --foreground: #ced4da;
  --gradient: linear-gradient(
    90deg,
    rgba(206, 212, 218, 1) 0%,
    rgba(108, 117, 125, 1) 51%,
    rgba(206, 212, 218, 1) 100%
  );
  --card: #0a1520;
  --border: #1c2a39;
  --card-shadow: rgba(255, 255, 255, 0.08);
}

.theme-light {
  --background: #f0efe9;
  --foreground: #1a1a1a;
  --gradient: linear-gradient(
    90deg,
    rgba(33, 37, 41, 1) 0%,
    rgba(108, 117, 125, 1) 51%,
    rgba(33, 37, 41, 1) 100%
  );
  --card: #ffffff;
  --border: #e0e0e0;
  --card-shadow: rgba(0, 0, 0, 0.1);
}

.theme-violet {
  --background: #212529;
  --background-gradient: linear-gradient(
    90deg,
    rgba(35, 25, 66, 1) 0%,
    rgba(55, 44, 110, 1) 50%,
    rgba(35, 25, 66, 1) 100%
  );
  --foreground: #9f86c0;
  --gradient: linear-gradient(
    90deg,
    rgba(159, 134, 192, 1) 0%,
    rgba(224, 177, 203, 1) 51%,
    rgba(159, 134, 192, 1) 100%
  );
  --card: #2c243e;
  --border: #3a3150;
  --card-shadow: rgba(159, 134, 192, 0.2);
}

.theme-earth {
  --background: #e9f5db;
  --background-gradient: linear-gradient(
    90deg,
    rgba(233, 245, 219, 1) 0%,
    rgba(207, 225, 185, 1) 51%,
    rgba(233, 245, 219, 1) 100%
  );
  --foreground: #718355;
  --gradient: linear-gradient(
    90deg,
    rgba(113, 131, 85, 1) 0%,
    rgba(151, 169, 124, 1) 51%,
    rgba(113, 131, 85, 1) 100%
  );
  --card: #f0f8e8;
  --border: #d4e2c5;
  --card-shadow: rgba(113, 131, 85, 0.2);
}

.theme-rainbow {
  --background: #47126b;
  --background-gradient: linear-gradient(
    90deg,
    rgba(71, 18, 107, 1) 0%,
    rgba(130, 47, 175, 1) 30%,
    rgba(151, 58, 168, 1) 60%,
    rgba(100, 17, 173, 1) 100%
  );
  --foreground: #ea698b;
  --gradient: linear-gradient(
    90deg,
    rgba(234, 105, 139, 1) 0%,
    rgba(172, 70, 161, 1) 50%,
    rgba(234, 105, 139, 1) 100%
  );
  --card: #5e2a8c;
  --border: #3a1f5c;
  --card-shadow: rgba(234, 105, 139, 0.2);
}

/* ocean */
.theme-ocean {
  --background: #00b4d8;
  --background-gradient: linear-gradient(
    90deg,
    rgba(0, 180, 216, 1) 0%,
    rgba(144, 224, 239, 1) 53%,
    rgba(0, 180, 216, 1) 100%
  );
  --foreground: #03045e;
  --gradient: linear-gradient(
    90deg,
    rgba(3, 4, 94, 1) 0%,
    rgba(0, 119, 182, 1) 53%,
    rgba(3, 4, 94, 1) 100%
  );
  --card: #90e0ef;
  --border: #48cae4;
  --card-shadow: rgba(3, 4, 94, 0.2);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    background: var(--background); /* fallback solid color */
    background: var(
      --background-gradient,
      var(--background)
    ); /* gradient if available */
    @apply text-foreground border-border;
  }

  h1 {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    @apply font-bold font-[Poppins] text-3xl;
  }

  p {
    @apply font-normal font-[Roboto] text-base;
  }
}

@layer components {
  .body-style {
    @apply w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .card {
    background: var(--card-bg);
    box-shadow: 0 6px 25px var(--card-shadow);
    @apply p-8 rounded-4xl flex flex-col items-center gap-4 transition-shadow duration-300;
  }

  .card:hover {
    box-shadow: 0 10px 40px var(--card-shadow);
  }
}

@layer utilities {
  .text-gradient {
  }
}
